html {
  background: #007399;
}

label {
  font-size: 1em;
  color: #f2f2f2;
}

.App {
  background: #007399;
}

#root {
  background: #007399;
}

#sidebar {
  height: 700px;
}

.brianheader {
  padding-left: 8%;
  height: 300px;
  animation: wiggle 1s infinite;
}

.brianheader-loading {
  padding-left: 8%;
  height: 300px;
  animation: spin 1.5s infinite;
}

.header {
  color: #f2f2f2;
  border-bottom: 1px solid #fff;
}

.header-img-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: .4s;
}

.slider-label {
  vertical-align: 80%;
  margin-right: 10px;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@keyframes wiggle {
  0%{transform:rotate(3deg);}
  50%{transform:rotate(-3deg);}
  100%{transform:rotate(3deg);}
}

@keyframes spin {
  0%{transform:rotate(0deg);}
  50%{transform:rotate(180deg);}
  100%{transform:rotate(360deg);}
}

